/* Dialog Box Container */
#dialogBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #FFF;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    text-align: center;
    width: 30vw;
    border: 3px solid #3f5e55;
}

/* Hidden by default */
.hidden {
    display: none;
}

/* Dialog Box Header */
#dialogBox h5 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3f5e55;
}

/* Dialog Box Content */
.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* Adds spacing between checkboxes */
    padding: 10px 0;
}

/* Align checkboxes and labels */
.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Spacing between checkbox and label */
}

/* Adjust checkbox size */
.form-check input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

/* Buttons Styling */
.dialog-content button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
}

/* Print Button */
.dialog-content .btn-primary {
    background: #184e77;
    /* border: none; */
}

.dialog-content .btn-primary:hover {
    background: #0056b3;
}

/* Cancel Button */
.dialog-content .btn-secondary {
    box-shadow: inset 0 -1px 0 0 #d1e6f3;
    background-color: #184e77;
    border-bottom: 2px solid #04498f;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 8px 8px;
    cursor: pointer;
}

.dialog-content .btn-secondary:hover {
   background-color: #1a73aa !important;
    border-color: #292a2b !important;
    box-shadow: inset 0 -1px 0 #d1e6f3, 0 0 10px rgba(0, 0, 0, 0.4);

}

#MachineGrid .e-toolbar {
    justify-content: flex-start !important;  /* align toolbar to the left */
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) { 

    #dialogBox {

        width: 35vw;
    }
    
}